:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.inner-pages-header {
  background-color: #151725;
  background-image: url("https://filetransfer.infragistics.com/public.php?service=files&t=6411ef0b474804e48e2a432c1160de80&download");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 140px;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  padding: 48px 0;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  min-width: 50px;
  max-width: 1680px;
}
.filters {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px 0 0 24px;
  min-width: 220px;
  min-height: 50px;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 0 24px;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  margin: 0 0 24px;
  min-width: 50px;
  min-height: 50px;
}
.group_4 {
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-height: 50px;
}
.group_5 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  min-width: 50px;
}
.card {
  margin: 0 16px 16px 0;
  height: max-content;
  min-width: 160px;
  max-width: 260px;
  flex-shrink: 0;
}
.group_6 {
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  min-width: 50px;
  min-height: 50px;
}
.group_7 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 400px;
  min-height: 50px;
}
.sitemap {
  border-color: hsla(var(--igx-grays-200));
  border-width: 1px 0px 0px;
  border-style: solid;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
  position: relative;
  padding: 24px;
  min-width: 50px;
  min-height: 170px;
}
.group_8 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_9 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.footer {
  background-color: hsla(var(--igx-grays-100));
  border-color: hsla(var(--igx-grays-200));
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 24px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_10 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-height: 50px;
}
.image {
  object-fit: none;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
}
.text {
  color: hsla(var(--igx-surface-500));
  margin: 8px 0 0;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  margin: 0 0 8px;
  height: max-content;
  min-width: min-content;
}
.hyperlink {
  color: hsla(var(--igx-primary-500));
  margin: 8px 0 30px 16px;
  height: max-content;
  min-width: min-content;
}
.h5 {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.text_2 {
  margin: 0 24px 0 0;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.image_1 {
  height: 100%;
}
.h6 {
  color: hsla(var(--igx-grays-800));
  height: max-content;
  min-width: min-content;
}
.text_3 {
  height: max-content;
  min-width: min-content;
}
.text_4 {
  margin: 8px 0 0;
  height: max-content;
  min-width: min-content;
}
.text_5 {
  color: hsla(var(--igx-grays-800));
  margin: 0 16px 0 0;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.text_6 {
  color: hsla(var(--igx-grays-700));
  margin: 0 32px 0 0;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.text_7 {
  color: hsla(var(--igx-grays-700));
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.list {
  height: max-content;
  min-width: min-content;
}
.user-input {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.dropdown {
  left: 0;
  top: 0;
  position: absolute;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button_1 {
  color: hsla(var(--igx-primary-500));
  background-color: transparent;
  margin: 0 0 8px;
  height: max-content;
  min-width: min-content;
}
